@model Discussor.Core.Application.Posts.Queries.GetPostsList.PostsListViewModel

<link href="~/css/Index.css" rel="stylesheet" />




@if (User.Identity.IsAuthenticated)
{
    <div class="col-12 btn-create-theme text-light">
        <a class="btn btn-primary btn-lg" asp-action="Create" asp-controller="Post" asp-route-themeId="@Model.ThemeId">
            Create new Post
        </a>
    </div>
}

@foreach (var post in Model.Posts)
{
    <div class="container content text-light">
        <div class="col-12 theme">
            <div class="col-2 theme-image-block">
                <p>
                    <a asp-action="Post" asp-controller="Post" asp-route-postId="@post.Id">
                        @post.Title
                    </a>
                </p>
                <p>
                    @post.DateOfCreation
                </p>
            </div>
            <div class="col-10 theme-block-content">

                @*<div class="col-9 theme-title"><a asp-action="Posts" asp-controller="Post" asp-route-themeId="@theme.Id">@theme.Title</a></div>*@
            </div>
        </div>
    </div>
}
