@model Discussor.Core.Application.Posts.Queries.GetPostsList.PostsListViewModel

<link href="~/css/Posts.css" rel="stylesheet" />

@if (User.Identity.IsAuthenticated)
{
    <div class="col-12 btn-create-post text-light">
        <a class="btn btn-primary btn-lg create-post-btn" asp-action="Create" asp-controller="Post" asp-route-themeId="@Model.ThemeId">
            Create new Post
        </a>
    </div>
}

@if (Model.Posts.Count() == 0 && User.Identity.IsAuthenticated)
{
    <div class="container message-container text-light">
        <h1>There are no posts. You can leave one ^_^</h1>
    </div>
} else
{
    @foreach (var post in Model.Posts)
    {
        <div class="container content text-light">
            <div class="row post">
                <div class="col-5 post-title">
                    <a asp-action="Post" asp-controller="Post" asp-route-postId="@post.Id">
                        @post.Title
                    </a>
                </div>
                <div class="col">
                    @post.DateOfCreation.ToShortDateString()
                </div>
                <div class="col-2">
                    @post.Creator.NickName
                </div>
            </div>
        </div>
    }
}