@model Discussor.Core.Application.Posts.Queries.GetPost.PostViewModel

<link href="~/css/Post.css" rel="stylesheet" />

<div class="container postsContainer">
    <div class="post">
        <div class="row">
            <div class="col-8 postTitle">@Model.Title</div>
            @if (User.Identity.Name == Model.Creator.NickName)
            {
                <div class="col-4 postAuthor">
                    <span>
                        <a asp-action="Edit" asp-controller="Post" asp-route-postId="@Model.Id" asp-route-themeId="@Model.ThemeId">
                            Edit
                        </a>
                    </span>
                    <span style="padding-left:5px">
                        <a asp-action="Delete" asp-controller="Post" asp-route-postId="@Model.Id" asp-route-themeId="@Model.ThemeId">
                            Delete
                        </a>
                    </span>
                </div>
            } else
            {
                <div class="col-4 postAuthor">@Model.Creator.NickName</div>
            }
        </div>
        <div class="row">
            <div class="col-12 postContent">
                @Model.Content
            </div>
        </div>
        <div class="row">
            <div class="col-12 postDate">
                @Model.DateOfCreation.ToShortDateString()
            </div>
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="container btnContainer">
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <a class="btn btn-primary" asp-action="Reply" asp-controller="Reply" asp-route-postId="@Model.Id">
                    Reply
                </a>
            </div>
        </div>
    </div>
}

<div class="container repliesContainer">
    @foreach (var reply in Model.Replies)
    {
        <div class="reply">
            <div class="row">
                <div class="col-9 replyAuthor">
                    @reply.Creator.NickName
                </div>
                <div class="col-3 replyAuthor">
                    @if (User.Identity.Name == reply.Creator.NickName)
                    {
                        <span>
                            <a asp-action="Edit" asp-controller="Reply" asp-route-postId="@Model.Id" asp-route-replyId="@reply.Id">
                                Edit
                            </a>
                        </span>
                        <span style="padding-left:5px">
                            <a asp-action="Delete" asp-controller="Reply" asp-route-postId="@Model.Id" asp-route-replyId="@reply.Id">
                                Delete
                            </a>
                        </span>
                    }
                </div>
            </div>
            <div class="row replyContent">
                <div class="col-12">
                    @reply.Content
                </div>
            </div>
            <div class="row replyDate">
                <div class="col-12">
                    @reply.DateOfCreation.ToShortDateString()
                </div>
            </div>
        </div>
    }

    <div class="pager">
        <cs-pager cs-paging-pagenumber="(@ViewData["PagingInfo"] as PagingInfo).PageNumber"
                  cs-paging-totalitems="(@ViewData["PagingInfo"] as PagingInfo).TotalItems"
                  cs-paging-pagesize="(@ViewData["PagingInfo"] as PagingInfo).PageSize"
                  cs-pagenumber-param="pagenumber"
                  asp-route-postId="@Model.Id"
                  asp-controller="Post"
                  asp-action="Post"
                  cs-pager-li-current-class="page-item active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link">
        </cs-pager>
    </div>
</div>












