@model Discussor.Core.Application.Themes.Queries.GetThemesList.ThemesListViewModel

<link href="~/css/Index.css" rel="stylesheet" />

<div class="container messageContainer">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Message"].
            <a asp-action="ResendEmail" asp-controller="Account"> Resend.</a>
        </div>
    }
</div>

@if (Model.Themes.Count() == 0 && User.Identity.IsAuthenticated)
{
    <div class="container messageContainer">
        <h1>There are no themes. You can leave one ^_^</h1>
    </div>
} else
{
    @foreach (var theme in Model.Themes)
    {
        <div class="container content text-light">
            <div class="col-12 theme">
                <div class="col-2 theme-image-block">
                    <img class="theme-image" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(theme.Image))">
                </div>
                <div class="col-10 theme-block-content">
                    <div class="col-9 theme-title"><a asp-action="Posts" asp-controller="Post" asp-route-themeId="@theme.Id">@theme.Title</a></div>
                    <div class="col-3 theme-replies-number">Posts: @theme.PostsNumber</div>
                </div>
            </div>
        </div>
    }
}

@if (User.Identity.IsAuthenticated)
{
    <div class="col-12 btn-create-theme text-light">
        <a class="btn btn-primary btn-lg" asp-action="Create" asp-controller="Theme">
            Create new theme
        </a>
    </div>
}