@model Discussor.Core.Application.Themes.Queries.GetThemesList.ThemesListViewModel

<link href="~/css/Index.css" rel="stylesheet" />


@if (User.Identity.IsAuthenticated)
{
    <div class="col-12 btn-create-theme text-light">
        <a class="btn btn-primary btn-lg" asp-action="Create" asp-controller="Theme">
            Create new theme
        </a>
    </div>
}

@if (Model.Themes.Count() == 0 && User.Identity.IsAuthenticated)
{
    <div class="container message-container text-light">
        <h1>There are no themes. You can leave one ^_^</h1>
    </div>
} else
{
    <div class="container content text-light">

        @foreach (var theme in Model.Themes)
        {
            <div class="row theme">
                <div class="col-2 theme-image-block">
                    <img class="theme-image" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(theme.Image))">
                </div>
                <div class="col theme-block-content">
                    <div class="col-9" style="padding:7px;"><a asp-action="Posts" asp-controller="Post" asp-route-themeId="@theme.Id">@theme.Title</a></div>
                    <div class="col-3" style="padding:7px;">Posts: @theme.PostsNumber</div>
                </div>
            </div>
        }

        <div class="pager">
            <cs-pager cs-paging-pagenumber="(@ViewData["PagingInfo"] as PagingInfo).PageNumber"
                      cs-paging-totalitems="(@ViewData["PagingInfo"] as PagingInfo).TotalItems"
                      cs-paging-pagesize="(@ViewData["PagingInfo"] as PagingInfo).PageSize"
                      cs-pagenumber-param="pagenumber"
                      asp-controller="Home"
                      asp-action="Index"
                      cs-pager-li-current-class="page-item active"
                      cs-pager-li-other-class="page-item"
                      cs-pager-li-non-active-class="page-item disabled"
                      cs-pager-link-current-class="page-link"
                      cs-pager-link-other-class="page-link">
            </cs-pager>
        </div>
    </div>

}


